@media (min-width: 768px) {
    * {
        font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    }

    #nitj img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    #box1 {
        backdrop-filter: blur(9px);
        backface-visibility: initial;
        /* background-color: #ffffff; */
        position: absolute;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 710px;
        height: 320px;
        border: 0.5px solid gray;
        border-radius: 25px;
    }

    #box2 {
        /* background-filter: blur(20px); */
        /* background-color: white; */
        opacity: 0.9;
        position: absolute;
        top: 0%;
        right: 3%;
        width: 311.5px;
        height: 320px;
        /* border: 2px solid blue; */
        border-radius: 25px;
    }

    #box2 img {
        width: 55%;
        height: 50%;
        position: relative;
        top: 34%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: #101010;
    }

    #name {
        font-weight: 650;
        font-size: 150%;
        text-align: center;
        position: relative;
        top: 64px;
        left: 51%;
        transform: translate(-50%, -50%);
        width: 97%;
        color: #ffffff;
    }

    #admin {
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        width: 75px;
        height: 25px;
        position: relative;
        top: 11px;
        left: 11px;
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
    }

    #admin:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        background-color: #0ea5e9;
        color: white;
    }

    #employee {
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        width: 75px;
        height: 25px;
        position: relative;
        top: 11px;
        left: 11px;
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
    }

    #employee:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        background-color: #0ea5e9;
        color: white;
    }

    #login {
        font-weight: 500;
        font-size: 40px;
        position: absolute;
        top: 5%;
        left: 15%;
        color: #101010;
    }

    #email {
        font-weight: 500;
        position: absolute;
        top: 82px;
        left: 65px;
        color: #414141;
        font-size: 15px;
    }

    #password {
        font-weight: 500;
        position: absolute;
        top: 149px;
        left: 65px;
        color: #414141;
        font-size: 15px;
    }

    #e {
        text-indent: 25px;
        padding: 16px;
        width: 280px;
        height: 0.7px;
        position: absolute;
        top: 122px;
        left: 55px;
        background-color: white;
        border: 0.7px solid black;
        border-radius: 30px;

    }

    #p {
        text-indent: 25px;
        padding: 16px;
        width: 280px;
        height: 0.7px;
        position: absolute;
        top: 188px;
        left: 55px;
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
    }

    #forgot {
        font-weight: 400;
        position: absolute;
        top: 216px;
        left: 275px;
        color: black;
        font-size: 13px;
    }

    #dont {
        font-weight: 500;
        position: absolute;
        top: 255px;
        left: 128px;
        color: black;
        font-size: 14px;
    }

    #submit {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        width: 120px;
        height: 35px;
        position: absolute;
        top: 233px;
        left: 150px;
        background-color: white;
        color: black;
        border: 1px solid black;
        border-radius: 25px;
    }

    #options{
        font-weight: 400;
        position: absolute;
        top: 287px;
        left: 121px;
        color: black;
        font-size: 12px;
    }

    #submit:hover {
        background-color: #0ea5e9;
        color: white;
    }

    #icon1 img {
        position: absolute;
        top: 127px;
        left: 60px;
        width: 25px;
        height: 25px;
    }

    #icon2 img {
        position: absolute;
        top: 192px;
        left: 60px;
        width: 25px;
        height: 25px;
    }

    #signup {
        position: relative;
        font-weight: 700;
        font-size: medium;
        top: 246px;
        left: 258px;

    }
}

@media (max-width: 767px) {
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(2, 105, 161, 1) 35%, rgba(0, 212, 255, 1) 100%);
    }


}